.profile {
    grid-area: profile;
    background: linear-gradient(135deg, darkcyan, #006666); /* Градиентный фон */
    margin: 5px;
    border-radius: 10px;
    display: flex;
    justify-content: center; /* Центрирует содержимое по горизонтали */
    align-items: center; /* Центрирует содержимое по вертикали */
    border: 1px solid indianred;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Добавляем тень */
}

.profileImg img {
    width: 900px;
    height: 300px;
    padding-top: 5px;
    border-radius: 10px;
    margin-right: 46px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Добавляем тень к изображению */
}