.profileImg img {
    width: 900px;
    height: 300px;
    padding-top: 5px;
    border-radius: 10px;
    margin-right: 46px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Добавляем тень к изображению */
}