.header {
    grid-area: header;
    background-color: var(--header-bg, #ffffff);
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 3px solid #00CED1; /* Добавление цветной рамки */
    border-radius: 8px; /* Закругление углов рамки */
}

.header img {
    max-width: 100%;
    width: 50px;
    margin-right: 15px;
}