.header {
    grid-area: header;
    background-color: var(--header-bg, #f05a5a); /* Улучшенный цвет фона */
    padding: 20px 25px; /* Увеличенные отступы */
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 6px 12px rgba(138, 5, 5, 0.2); /* Улучшенная тень */
    border: 3px solid #e18711;
    border-radius: 10px; /* Увеличенный радиус закругления */
    margin-top: 7px;
}

.header img {
    max-width: 100%;
    width: 80px; /* Увеличенный размер изображения */
    margin-right: 20px; /* Увеличенный отступ */
}

.header img:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.7); /* Улучшенная тень при наведении */
    transform: scale(1.1); /* Увеличение изображения при наведении */
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.loginBlock {
    float: right;
}
.loginBlock a {
    color: #d0d0d0;
    text-decoration: none;
}