.nav {
    grid-area: navbar;
    background-color: var(--nav-bg);
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

.item a {
    color: #6D6B8BFF;
    text-decoration: none;
}

.item a.activeLink {
    color: gold;
}

.friends{
  margin-top: 100px;
}
.text{
    text-align: center;
}

.description img {
   width: 100px;
    height: 100px;
    border-radius: 15px;
}
