.header {
    grid-area: header;
    background-color: var(--header-bg);
    padding: 10px 20px;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header img {
    width: 50px;
    margin-right: 10px;
}
