.app-wrapper {
    display: grid;
    width: 1200px;


    grid-template-areas:
    'header header'
    'navbar profile';


    grid-template-rows: 103px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 4px;

    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Добавляем тень для контейнера */
}

.header {
    grid-area: header;
    background: linear-gradient(135deg, darkcyan, #006666); /* Градиентный фон */
    margin: 5px;
    padding-top: 15px;
    padding-left: 19px;
    border-radius: 10px;
    border: 1px solid indianred;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Добавляем тень */
}

.header img {
    width: 90px;
    border-radius: 10px;
}

.navbar {
    grid-area: navbar;
    background: linear-gradient(135deg, darkcyan, #006666); /* Градиентный фон */
    margin: 5px;
    border-radius: 10px;
    text-align: center;
    border: 1px solid indianred;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Добавляем тень */
}

.navbar a {
    text-decoration: none;
    color: black;
    letter-spacing: 1px; /* Расстояние между буквами */
    display: block; /* Делаем ссылки блочными элементами для лучшего отображения */
    margin-bottom: 15px; /* Расстояние между элементами списка */
    font-size: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Добавляем тень к тексту */
    transition: color 0.3s ease, transform 0.3s ease; /* Добавляем плавный переход */
}

.navbar a:hover {
    color: indianred; /* Изменяем цвет при наведении */
    transform: scale(1.05); /* Увеличиваем размер при наведении */
}

.profile {
    grid-area: profile;
    background: linear-gradient(135deg, darkcyan, #006666); /* Градиентный фон */
    margin: 5px;
    border-radius: 10px;
    display: flex;
    justify-content: center; /* Центрирует содержимое по горизонтали */
    align-items: center; /* Центрирует содержимое по вертикали */
    border: 1px solid indianred;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Добавляем тень */
}

.profile-img img {
    width: 900px;
    height: 300px;
    padding-top: 5px;
    border-radius: 10px;
    margin-right: 46px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Добавляем тень к изображению */
}






